In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

sns.set_theme()

# jupyter notebook full-width display
from IPython.core.display import display, HTML
display(HTML(""))

# pandas formatting
pd.set_option('display.float_format', '{:.3f}'.format)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [2]:
df_LF = pd.read_csv(r'.\provided data\Margaree Gaspereau lgth-freq_Master.csv')

In [3]:
df_LF.dtypes

yy          int64
mm          int64
dd          int64
Time      float64
river      object
week        int64
site       object
loc        object
period     object
wt_lbs    float64
wt_kg     float64
lgth        int64
freq        int64
Flbin       int64
dtype: object

In [4]:
df_LF.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
yy,11440.000,NaN,NaN,NaN,2003.929,9.465,1990.000,1995.000,2003.000,2013.000,2019.000
mm,11440.000,NaN,NaN,NaN,5.427,0.495,5.000,5.000,5.000,6.000,6.000
dd,11440.000,NaN,NaN,NaN,16.410,8.882,1.000,9.000,17.000,24.000,31.000
Time,1457.000,NaN,NaN,NaN,1030.411,531.799,3.000,900.000,1115.000,1425.000,1850.000
river,10222,3,SW MARGAREE,6240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week,11440.000,NaN,NaN,NaN,4.908,1.909,1.000,4.000,5.000,6.000,9.000
site,11371,91,26,2402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loc,11358,4,LOWER,6406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
period,11440,3,AM,6143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wt_lbs,10222.000,NaN,NaN,NaN,102.868,34.969,1.000,81.700,100.000,127.000,204.000
wt_kg,10222.000,NaN,NaN,NaN,46.659,15.862,0.500,37.100,45.400,57.600,92.500
lgth,11440.000,NaN,NaN,NaN,251.674,21.823,145.000,235.000,250.000,265.000,322.000
freq,11440.000,NaN,NaN,NaN,17.947,18.000,0.000,3.000,11.000,29.000,117.000
Flbin,11440.000,NaN,NaN,NaN,251.487,21.670,145.000,235.000,250.000,265.000,320.000

# Datetime

In [5]:
df_LF.Time.unique()

array([  nan,    3.,    4.,    5., 1305., 1530., 1025., 1550., 1255.,
       1405., 1455., 1310., 1220., 1115., 1640., 1355., 1320., 1400.,
       1225., 1035., 1010., 1545., 1425., 1100., 1450., 1540., 1430.,
       1030., 1345., 1630., 1050.,  850.,  925., 1445.,  940.,  900.,
        840., 1500.,  905., 1713.,  835.,  845., 1000., 1145., 1015.,
       1625., 1745., 1315., 1655., 1020., 1210., 1755., 1215., 1110.,
       1605., 1130., 1235., 1300., 1200., 1850., 1700.])

In [7]:
# convert all times to same format, then to datetime format
df_LF['CleanTime'] = df_LF['Time']
df_LF.loc[df_LF['CleanTime'] < 10, 'CleanTime'] = df_LF.loc[df_LF['CleanTime'] < 10, 'CleanTime'] * 100
df_LF['CleanTime'] = pd.to_datetime(df_LF.CleanTime, format='%H%M')

df_LF['DATETIME'] = pd.to_datetime(dict(
    year=df_LF['yy'], 
    month=df_LF['mm'], 
    day=df_LF['dd'], 
    hour=df_LF['CleanTime'].dt.hour, 
    minute=df_LF['CleanTime'].dt.minute, 
), errors='coerce')

df_LF = df_LF.drop('CleanTime', axis=1)

In [8]:
df_LF['DATETIME'].describe(datetime_is_numeric=True)

count                             1457
mean     2007-02-28 06:23:05.353466112
min                1991-05-12 03:00:00
25%                2009-05-23 15:50:00
50%                2010-05-22 09:25:00
75%                2011-05-17 10:25:00
max                2012-06-21 17:00:00
Name: DATETIME, dtype: object

In [9]:
# percentage of null dates
sum(df_LF.DATETIME.isnull())/df_LF.shape[0]

0.8726398601398602

In [10]:
# check to make sure hours are good
pd.concat([
    df_LF['Time'], 
    df_LF['DATETIME'].dt.hour,
    df_LF['DATETIME'].dt.minute
], axis=1)[~df_LF['Time'].isnull()]

         Time  DATETIME  DATETIME
948     3.000     3.000     0.000
949     3.000     3.000     0.000
950     3.000     3.000     0.000
951     3.000     3.000     0.000
952     3.000     3.000     0.000
...       ...       ...       ...
7815 1700.000    17.000     0.000
7816 1700.000    17.000     0.000
7817 1700.000    17.000     0.000
7818 1700.000    17.000     0.000
7819 1700.000    17.000     0.000

[1457 rows x 3 columns]

In [11]:
df_LF[(~df_LF.Time.isnull()) & (df_LF.DATETIME.isnull())]

Empty DataFrame
Columns: [yy, mm, dd, Time, river, week, site, loc, period, wt_lbs, wt_kg, lgth, freq, Flbin, DATETIME]
Index: []

In [12]:
df_LF.iloc[948]

yy                         1991
mm                            5
dd                           12
Time                      3.000
river                  MARGAREE
week                          3
site                         12
loc                       LOWER
period                       AM
wt_lbs                    1.000
wt_kg                     0.500
lgth                        265
freq                          1
Flbin                       265
DATETIME    1991-05-12 03:00:00
Name: 948, dtype: object